.projects{
    padding-bottom: 50px;
    background: #252A2E;
    @include flexy($dir:column);
    row-gap: 30px;

& .project-type{
    width: 95%;
    margin:auto;
    & ul{
        text-align: center;
        list-style: none;
        @include flexy($dir:row,$just:center,$wrap:wrap);
        column-gap: 40px;;
        row-gap: 30px;
   
        padding:0;
        margin:0;
        & li{
            cursor: pointer;
            color:white;
          font-size: 25px;
          padding:10px;
          border-radius: 10px;
          background-color: $color-green;
          transition:0.5s all ease-in-out;
          &:hover{
              color:$color-green;
              background-color: #252A2E;
              border:1px solid $color-green;
          }
        }
    }
 }
    & .first-container-projects{
        @include flexy($dir:column,$just:center);
        align-items: center;
        margin-top:50px;

        & i{
            font-size:80px;
            color:$color-green;
        }
        & .title-project{
            color:white;
        }
    }
     & .container-projects{
        width: 95%;
        margin:auto;
        @include flexy($dir:column);
        row-gap: 20px;
        & .project{
            width: 100%;
                position:relative;
                border-radius: 10px;
                & .overlay{
                    
                    width: 100%;
                    height: 100%;
                    background-color: rgb(28, 182, 152,0.9);
                    position:absolute;
                    top:0;
                    @include flexy($dir:column ,$just:center);
                    align-items: center;
                    border-radius: 10px;
                    color:white;
                    line-height: 5px;
                    font-size: 20px;
                    opacity:0;
                    transition:0.5s all ease-in-out;
                    overflow: hidden;
                    & .redirect{
                        position:absolute;
                        top:10px;
                        right: 10px;
                        color:white;
                    }
                    & h3{
                        transform:translateX(100%);
                        transition:0.5s all ease-in-out;
                    }
                    & p{
                        transform:translateX(-100%);
                        transition:0.5s all ease-in-out;
                    }
                        &:hover{
                            opacity:1;

                            & p{
                                transform:translateX(0);
                            }
                            & h3{
                                transform:translateX(0);
                            }
                        }
                    & i{
                        font-size: 35px;
                    }
                }
                
        }
    }
  
    img{
        width: 100%;
        border-radius:10px;
    }
   @include mq('med'){
    & .project-type{
        width: 70%;
        margin:auto;
        & ul {
            li{
                width: 33%;
            }
        }
    }
        & .container-projects{

            & .project{
                width: 70%;
                margin:auto;
            }
        }
   }
   @include mq('lg'){
       & .project-type{
        max-width: 1600px;
       }
        & .container-projects{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            column-gap: 20px;
            max-width: 1600px;

            & .project{
                width: 100%;
            }
        }
   }

   @include mq('exlg'){
    & .container-projects{
        grid-template-columns: repeat(3,1fr);
    }
   }

}


